.css_lock {
	height: 100vh;
	text-align: left;
	padding: 20px;
	&-exmp_1 {
		display: inline-block;
		min-width: 50%;
		max-width: 100%;
		width: calc((600px - 100%) * 600);
	}
}

.calc_media_demo {
	overflow: hidden;
	&-text{
		font-size: 16px !important;
	}
	&-image_placeholder {
		margin-bottom: 15px;
		border: 1px solid $black;
		height: 150px;
		background:
		linear-gradient(to top right,
			 transparent calc(50% - 1px), gray calc(50% - 1px),
			 gray calc(50% + 1px), transparent calc(50% + 1px)),
		linear-gradient(to bottom right,
			 transparent calc(50% - 1px), gray calc(50% - 1px),
			 gray calc(50% + 1px), transparent calc(50% + 1px));
	}
	&-left_col,
	&-right_col {
		// border: 1px solid $black;
		float: left;
		padding: 5px;
	}
	&-left_col {
		min-width: 33%;
		max-width: 100%;
		width: calc((480px - 100%) * 480);
	}
	&-right_col {
		min-width: 67%;
		max-width: 100%;
		padding-right: 10px;
		width: calc((480px - 100%) * 480);
		&-one,
		&-two {
			float: left;
			min-width: 48%;
			max-width: 100%;
			margin:0 1%;
			width: calc((480px - 100%) * 480);
		}
		&-two {
			margin-right: 0 !important;
		}
	}
}