/source/bower
/node_modules
/build
.publish
source/fonts/svgfont**
source/nunjucks-templates/partials/_favicons.html
source/sass/_svgfont**
source/sass/_sprite-svg**
source/elements/favicons/favicons**