.selectors_nav {
	margin-bottom: 20px;
	ul {
		li {
			display: inline-block;
			padding: 0 10px;
		}
		li + li {
			border-left: 1px solid #000 !important;
		}
	}
}
.adjacent-checkboxes {
	input {
		display: none;
	}
	input + label {
	padding-left: 50px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	line-height: 36px;
	font-size: 26px;
	}
	input + label .input_custom-indicator {
		position: absolute;
		top: 0;
		left: 0;
		height: 36px;
		width: 36px;
		background-color: #f0f0f0;
		border: solid 2px #dbdbdb;
		border-radius: 5px;
		&:before {
			content: '';
			border-radius: inherit;
			background-image: -webkit-gradient(linear, right top, left top, from(#6bbd96), to(#33a3cc));
			background-image: linear-gradient(to left, #6bbd96, #33a3cc);
			position: absolute;
			left: -2px;
			top: -2px;
			bottom: -2px;
			right: -2px;
			-webkit-transition: opacity 0.3s ease;
			transition: opacity 0.3s ease;
			opacity: 0;
			will-change: opacity;
		}
		&:after {
			content: '';
			position: absolute;
			opacity: 0;
			top: 5px;
			left: 12px;
			width: 9px;
			height: 18px;
			border: solid #ffffff;
			border-width: 0 3px 3px 0;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			-webkit-box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.2);
			box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.2);
			will-change: transform, opacity;
		}
	}
	input + label:hover .input_custom-indicator {
		background-color: #e2e2e2;
	}
	input:checked + label .input_custom-indicator:before {
		opacity: 1;
	}
	input:checked + label .input_custom-indicator:after {
		opacity: 1;
		-webkit-transform: scale(1) rotate(45deg);
		transform: scale(1) rotate(45deg);
	}
}