.smooth_scroll_demo {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	// overflow-y: scroll;
	scroll-behavior: smooth;
	.menu {
		width: 100%;
		height: 75px;
		background-color: rgba(0, 0, 0, 1);
		position: fixed;
		background-color: rgba(4, 180, 49, 0.6);
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;

	}

	.light-menu {
		width: 100%;
		height: 75px;
		background-color: rgba(255, 255, 255, 1);
		position: fixed;
		background-color: rgba(4, 180, 49, 0.6);
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	#menu-center {
		width: 980px;
		height: 75px;
		margin: 0 auto;
		text-align: center;
		ul {
			margin: 15px 0 0 0;
			li {
				list-style: none;
				margin: 0 15px;
				display: inline;
			}
		}
	}

	.active {
		font-family: 'Droid Sans', serif;
		font-size: 14px;
		color: #fff;
		text-decoration: none;
		line-height: 50px;
	}

	a {
		font-family: 'Droid Sans', serif;
		font-size: 14px;
		color: black;
		text-decoration: none;
		line-height: 50px;
	}

	#home {
		background-color: grey;
		height: 100vh;
		width: 100%;
		overflow: hidden;
	}

	#portfolio {
		height: 100vh;
		width: 100%;
		background: url(../img/lemur-page.gif) 50% 50% no-repeat;
		background-size: cover;
	}

	#about {
		background-color: blue;
		height: 100vh;
		width: 100%;
	}

	#contact {
		background-color: red;
		height: 100vh;
		width: 100%;
	}

}

