.rect-shadow {
	background-color: red;
	width: 10vw;
	padding-top: 10vw;
	transition: all 1s ease;
	box-shadow: 
		30vw 10vw #000,
		50vw 10vw #050,
		10vw 10vw #000, 
		40vw 0 #000,
		60vw 0 #000, 
		0 20vw #000,
		20vw 0 #a069;
	/* transform: skew(45deg); */
	/* border-radius: 10px; */
}