{# Description no longer than 155 characters #}
<meta name="description" content="When you need to make a complex and beautiful UI, then you have to find new approaches. In practice, it turns out that complex things are very simple but sometimes not immediately obvious.">
<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@lokdawn80">
<meta name="twitter:title" content="CSS TRICKS YOU GOTTA LOVE">
<meta name="twitter:description" content="When you need to make a complex and beautiful UI, then you have to find new approaches. In practice, it turns out that complex things are very simple but sometimes not immediately obvious.">
<meta name="twitter:creator" content="@lokdawn80">
<meta name="twitter:url" content="https://oleksandrpavlyshch.github.io/css_triks_you_gotta_love/">
{# Twitter Summary card images must be at least 120x120px #}
<meta name="twitter:image" content="https://oleksandrpavlyshch.github.io/css_triks_you_gotta_love/img/preview-image.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="CSS TRICKS YOU GOTTA LOVE">
<meta property="og:type" content="article">
<meta property="og:url" content="https://oleksandrpavlyshch.github.io/css_triks_you_gotta_love/">
<meta property="og:image" content="https://oleksandrpavlyshch.github.io/css_triks_you_gotta_love/img/preview-image.jpg">
<meta property="og:description" content="When you need to make a complex and beautiful UI, then you have to find new approaches. In practice, it turns out that complex things are very simple but sometimes not immediately obvious.">
<meta property="og:site_name" content="{{ og_sitename }}">
<meta property="fb:admins" content="{{ fb_admins }}">