---
title: CSS Tricks You Gotta Love - YGLF
---

{% extends "nunjucks-templates/layouts/_layout.html" %}

{% block content %}
	{% include "elements/header/index.html" %}

	{% include "elements/block_aspect_ratio/index.html" %}
	{% include "elements/support/index.html" %}
	{% include "elements/variables/index.html" %}
	{% include "elements/filter_shadow/index.html" %}
	{% include "elements/vertical_text/index.html" %}
	{% include "elements/browser_behavior/index.html" %}
	{% include "elements/parallax/index.html" %}
	{% include "elements/calc/index.html" %}

{% endblock %}